body{
	background-color:black;
	font-family: 'VT323',sanserif ;
}

p{
	color: #00ff00;
}

h3{
	color: #00ff00;
}

/* unvisited link */
a:link {
    color: green;
}

/* visited link */
a:visited {
    color: purple;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: yellow;
}



@-webkit-keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: #00ff00 }
}

@-moz-keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: #00ff00 }
}

.cursor {
    width:200px;
    height:300px;
    border-left:10px solid #00ff00;
	-webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
}