@import url();

body {
	padding:0;
	margin:0;
	font-family:sans-serif;


}

/* Text
-------------------------------------------------- */
.text{
	padding-left:2.25em;
	padding-right:;
	padding-top:1em;
	width:60%;
}

h1{
	font-size:5em;

}

h2{
	font-size:3em;
	font-weight:200;
}

h1,h2{
	color:red;
}


/* Image
-------------------------------------------------- */

.l{
	width:100%;
}

.s{
	width: 20%;
}

.img-grid{
	text-align: center;
}

/* iPad 
-------------------------------------------------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  /* text */

	h1,h2{
	color:blue;
	}

	h1{
	font-size:24px;
	}

	h2{
	font-size:18px;
	}

	body{
	background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, yellow); /* Standard syntax */
	}


  /* image */

	.s{
	width:40%;
	}

}


/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 768px) {

  /* text */

	h1,h2{
	color:green;
	}

	h1{
	font-size:18px;
	}

	h2{
		font-size:12px;
	}

	.l{
		display:none;
	}
	
	  /* image */
	.s{
		width:100%;
		opacity:.3;
		 -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
	}

}

