

body, html{
	padding:0;
	margin:0;
}


.topnavbar,
.redbar {
	width:100%;
	height:150px;
	background: #b72323;

}

.bluebar{
	width:100%;
	height:150px;
	background:#392d91;
	margin-top:100px;
	float:left;
}

.redbar{
	float:left;
}







/* Text
-------------------------------------------------- */

.logo {
	width: 30%;
	text-align: center;
	margin-right: 0;
	margin-left: 0;
	padding-right: 0;
	float: left;
	padding-top: 20px;
}

.navlinks {
	width: 50%;
	margin-right: 0;
	margin-left: 0;
	padding-top:40px;
	float: left;
}

.navtitle {
	font-family: 'Oswald', sans-serif;
	font-weight:700;
	color:white;
	font-size: 58px;
	letter-spacing: 6px;
}

.navsubtitle{
	font-family: 'Oswald', sans-serif;
	font-weight:300;
	color:white;
	font-size: 18px;
	letter-spacing: 2px;
}

.aboutme{
	font-family: 'Oswald', sans-serif;
	font-weight:300;
	font-size:24px;
	width:40%;
	padding:100px 50px 0px 50px;
	float:left;
}

.video{
	width:40%;
	float:left;
	padding: 100px 50px 0px 50px;
}

#moreabout{
	font-family: 'Oswald', sans-serif;
	font-weight:300;
	font-size:24px;
	width:40%;
	float:left;
	padding-top:100px;
	padding-left:60px;
}

h1{
	font-family: 'Oswald', sans-serif;
	font-size:42px;
	letter-spacing: 1px;
	color:white;
	border:0;
	margin:0;
	padding:0;
	text-align:center;
	padding-top:1em;

}

ul {
	text-align: right;
	font-family: 'Raleway', sans-serif;
	font-size:24px;
}

li {
	display:inline;
}

li a {
	color: white;
	padding: 0 40px;
	text-decoration: none;
}

li a:hover {
	color: #333;
}

/* Image
-------------------------------------------------- */



.row {
    display: flex;
    box-orient: horizontal;
    flex-direction: row;
    box-pack: center;
    justify-content: center;
    box-align: center;  
    align-items: center;

}

.rowitem {
    box-flex: 1;
    flex: 1 1 auto; 
    text-align: center;
}

img {
	margin: 0;
	padding: 0;
	max-width:100%;
}

.eagle{
	width:50%;
	padding-top:100px;
	padding-bottom:100px;
	float:left;
	
}



/* iPad 
-------------------------------------------------- */
@media all and (max-width : 1024px){

	.topnavbar,.navlinks{
		width:100%;
		
	}

	.topnavbar{
		height:250px;
	}


	.navtitle{
		font-size: 58px;
	}
	
	.navsubtitle{
		font-size: 18px;

	}

	
	h1 {
		font-family: 'Oswald', sans-serif;
		font-size:32px;
		padding-top:2em;
	}

	.aboutme{
		width:100%;
		padding:0;
		text-align: center;
	}

	.moreabout{
		font-size:18px;
	}

	
	
	
	
	/* Image
	--------- */

	

	.video{
		margin-left:20%;
	}


/* mobile 
-------------------------------------------------- */
@media all and (max-width : 768px){

	


	.topnavbar,.navlinks{
		width:100%;
	}

	/*.redbar{
		height:250px;
	}*/


	.navtitle{
		font-size: 32px;
	}
	
	.navsubtitle{
		font-size: 12px;

	}

	.aboutme{
		padding:0;
	}

	.moreabout{
		width:100%;
		text-align: center;
		padding:0;


	}

	
	h1 {
		font-family: 'Oswald', sans-serif;
		font-size:24px;

	}
	
	
	
	/* Image
	--------- */

	.fullbleed{
		width:100%;
	}

	.video,.aboutme{
		width:100%;
		padding:0;
		text-align: center;
	}

	.eagle{
		width:100%;

	}

}