

body, html{
	padding:0;
	margin:0;
	width:100%;
}



.topnavbar,
.redbar {
	width:100%;
	height:150px;
	background: #b72323;

}

.bluebar{
	width:100%;
	height:150px;
	background:#392d91;
	margin-top:100px;
	float:left;
}

.redbarbig{
	width:100%;
	height:450px;
	background:#b72323;
	float:left;
	margin-top:100px;
}

.suddiklogo{
	width:600px;
	padding-top:5em;
}

.redbar {
	float:left;
}



/* Text
-------------------------------------------------- */

.logo {
	width: 30%;
	text-align: center;
	margin-right: 0;
	margin-left: 0;
	padding-right: 0;
	float: left;
	padding-top: 20px;
}

.navlinks {
	width: 50%;
	margin-right: 0;
	margin-left: 0;
	padding-top:40px;
	float: left;
}

.navlinksbtm {
	width: 70%;
	margin-right: 0;
	margin-left: 0;
	padding-top:40px;
	float: left;
	text-align: center;
}

.navtitle {
	font-family: 'Oswald', sans-serif;
	font-weight:700;
	color:white;
	font-size: 58px;
	letter-spacing: 6px;
}

.navsubtitle{
	font-family: 'Oswald', sans-serif;
	font-weight:300;
	color:white;
	font-size: 18px;
	letter-spacing: 2px;
}

.aboutme{
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-size:24px;
	width:40%;
	padding:100px 50px 0px 50px;
	float:left;
}

.video{
	width:30%;
	float:left;
	padding: 100px 50px 0px 50px;
}

#moreabout-text{
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-size:24px;
	width:40%;
	float:left;
	padding-top:100px;
	padding-left:60px;
	padding-bottom:100px;

}

#wall-container{
	width: 100%;

}

.wall{
	width:43%;
	height:100%;
	float:left;
	padding: 3em 0 0 4em;
}

.twitter{
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-size:24px;
	float:left;
	width:35%;
	padding:100px;
}

.twitter1{
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-size:24px;
	float:left;
	width:35%;
	margin-left:200px;
}

.twitlogo{
	float:left;
	margin-top:100px;
	width:100%;
}

#bottom{
	width:100%;
	margin-top:20px;
	margin-bottom:20px;
	font-size: 18px;
	float:left;
	text-align: center;
}



h1{
	font-family: 'Oswald', sans-serif;
	font-size:42px;
	letter-spacing: 1px;
	color:white;
	border:0;
	margin:0;
	padding:0;
	text-align:center;
	padding-top:1em;

}

ul {
	text-align: right;
	font-family: 'Raleway', sans-serif;
	font-size:24px;
}

li {
	display:inline;
}

li a {
	color: white;
	padding: 0 40px;
	text-decoration: none;
}

li a:hover {
	color: #333;
}

/* Image
-------------------------------------------------- */


img {
	margin: 0;
	padding: 0;
	max-width:100%;
	margin-bottom: -5px;
}

.eagle{
	width:50%;
	padding-top:100px;
	padding-bottom:100px;
	float:left;
	
}

.gif{
	display:none;
	float:left;
	width:100%;
}



/* iPad 
-------------------------------------------------- */
@media all and (max-width : 1024px){

	

		.topnavbar{
			height:250px;

		}

		.navtitle{
			font-size: 58px;
		}

		.navsubtitle{
			font-size: 18px;
		}

		.logo {
			width: 100%;
		}

		ul,
		li{
			width: 100%;
			text-align: center;
			padding: 0;
			margin: 0;

		}

		.video{
			display:none;
		}

		.navlinks {
			width: 100%;
		}
		.navlinksbtm {
			width:100%;
		}

		.short-title h1{
			padding-top:2.3em;
		}

		.long-title h1{
			padding-top:1.7em;

		}

		.aboutme,
		.video,
		#moreabout-text,
		.twitter,
		.twitter1 {
			width:90%;
			padding:1em;
			text-align: center;
			font-size:18px;
		}

		.wall{
			width:100%;
			padding: 3em 0em 3em 0em;
		}



		h1 {
			font-size:24px;
		}


		.eagle{
			width: 100%;
			padding-top:0px;
			padding-bottom:10px;
			margin-left:0px;
			margin-top:0px;
		}

		.gif{
			display:block;
			text-align: center;
		}

		
}
