

body{
	padding:0;
	margin:0;
}

h1{
	font-family: 'Oswald', sans-serif;
	font-size:42px;
	color:white;
	border:0;
	margin:0;
	padding:0;
	text-align:center;

}



.topnavbar{
	width:100%;
	height:150px;
	background: #b72323;
	padding:0;
	margin:0;
	border:0;

	
}


/* Text
-------------------------------------------------- */

	.navtitle{
		font-family: 'Oswald', sans-serif;
		font-weight:700;
		color:white;
		font-size: 58px;
		letter-spacing: 6px;
		padding-left:2em;
		padding-top:.2em;

		
	}
	
	.navsubtitle{
		font-family: 'Oswald', sans-serif;
		font-weight:300;
		color:white;
		font-size: 18px;
		padding-left:6em;
		padding-top:.2em;
		line-height: 2px;
		letter-spacing: 2px;
	
	}
	
	.aboutme{
		font-family: 'Raleway', sans-serif;
		font-size:24px;
		color:white;
		font-weight:300;
		
	}

	ul {
    text-align: right;
    width: 80%;
  	font-family: 'Raleway', sans-serif;
  	font-size:24px;
    height: 70%;
   
	}
	li {
	    display:inline;
	}
	ul a {
	    color: white;
	    padding: 0 40px;
	    text-decoration: none;
	}
	ul a:hover {
    color: #333;
}

/* Image
-------------------------------------------------- */

	.fullbleed{
		width:100%;
	}




/* iPad 
-------------------------------------------------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

	/* Text
	--------- */
	
	
	.topnavbar{
	width:100%;
	height:250px;
	background: #b72323;
	padding:0;
	margin:0;

	
}

	.navtitle{
		font-family: 'Oswald', sans-serif;
		font-weight:700;
		color:white;
		font-size: 58px;
		letter-spacing: 6px;
		padding-left:2em;
		padding-top:.2em;
		text-align: center;

		
	}
	
	.navsubtitle{
		font-family: 'Oswald', sans-serif;
		font-weight:300;
		color:white;
		font-size: 18px;
		padding-left:6em;
		padding-top:.2em;
		line-height: 2px;
		letter-spacing: 2px;
		text-align: center;
	
	}



		ul {
    text-align: center;
    width: 100%;
  	font-family: 'Raleway', sans-serif;
  	font-size:24px;
    height: 50%;
   
	}
	li {
	    display:inline;
	}
	ul a {
	    color: white;
	    padding: 50 40px;
	    text-decoration: none;
	}
	ul a:hover {
    color: #333;
}
	
	h1{
	font-family: 'Oswald', sans-serif;
	font-size:32px;
	color:white;
	border:0;
	text-align: center;

}
	
	
	
	/* Image
	--------- */

	.fullbleed{
		width:100%;
	}

/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 768px) {

	/* Text
	--------- */





	/* Image
	--------- */



}
